<?php

return PhpCsFixer\Config::create()
    ->setRules([
        '@Symfony' => true,
        'array_syntax' => ['syntax' => 'short'],
        'yoda_style' => false,
        'self_accessor' => false,
    ])
    ->setFinder(
        PhpCsFixer\Finder::create()
            ->exclude('spec')
            ->exclude('resources')
            ->notPath('src/MoneyFactory.php')
            ->in(__DIR__)
    )
;
