{
    "source": {
        "directories": [
            "src"
        ]
    },
    "logs": {
        "text": "php://stderr",
        "badge": {
            "branch": "master"
        },
        "github": true
    },
    "minMsi": 87,
    "minCoveredMsi": 94
}
