.row-even .line-block, .row-odd .line-block {
    margin-left: 0;
}

.versionmodified {
    font-weight: bold;
}

.wy-menu-vertical p.caption {
    color: #b3b3b3;
    margin-top: 16px;
    margin-bottom: 0;
}
.wy-menu-vertical p.caption .caption-text {
    font-size: 120%;
}
